# Python bytecode
__pycache__/
*.py[cod]

# Entornos virtuales
.env
.venv
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# Archivos de datos y resultados
/data/

# Otros archivos temporales
*.log
*.tmp

# Configuración de IDEs
.spyderproject
.spyproject
.ropeproject

# Pytest y coverage
.pytest_cache/
.coverage
.cache

# Archivos de lock de gestores de dependencias
Pipfile.lock
poetry.lock
pdm.lock
